main {
    align-items: flex-start;
}

table {
    width: 100%;
    color: white;
}

th,
td {
    width: 4rem;
    height: 2rem;

    text-align: center;
}

thead tr {
    background: rgba(0, 0, 0, 0.5);
}

tbody tr:nth-child(even) {
    background: rgba(0, 0, 0, 0.25);
}

td.total {
    text-align: right;
}

td.total-value {
    text-align: center;
}